.messages{
     display:flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;

 }

 .chataa{
   background-image: url("https://qph.cf2.quoracdn.net/main-qimg-45d613dd393e4fc1c99dfdaf872ecce1-lq");
   background-size: cover;
 }